<div nz-row [nzGutter]="16">
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="12"
    [nzLg]="12"
    style="background-color: #ffcccc"
    nz-tooltip
    nzTooltipTitle="hey"
    nzTooltipPlacement="topLeft"
  >
    <p>I.</p>
  </div>
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="12"
    [nzLg]="12"
    style="background-color: #ccffcc"
    nz-tooltip
    nzTooltipTitle="hey"
    nzTooltipPlacement="topLeft"
  >
    <p>II.</p>
  </div>
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="12"
    [nzLg]="8"
    style="background-color: #ccccff"
    nz-tooltip
    nzTooltipTitle="hey"
    nzTooltipPlacement="topLeft"
  >
    <p>III.</p>
  </div>
  <div
    nz-col
    [nzXs]="24"
    [nzSm]="24"
    [nzMd]="12"
    [nzLg]="16"
    style="background-color: #ffffcc"
    nz-tooltip
    nzTooltipTitle="hey"
    nzTooltipPlacement="topLeft"
  >
    <p>IV.</p>
  </div>
</div>
