<div nz-row [nzGutter]="16">
  <div
    *ngFor="let item of items"
    nz-col
    [nzXs]="item.size.xs"
    [nzSm]="item.size.sm"
    [nzMd]="item.size.md"
    [nzLg]="item.size.lg"
    [style.background-color]="item.color"
    nz-tooltip
    [nzTooltipTitle]="'Méret: ' + getItemWidth(item) + ' oszlop'"
    nzTooltipPlacement="top"
  >
    <p>{{ item.name }}</p>
    <button nz-button (click)="decreaseWidth(item)">-</button>
    <button nz-button (click)="increaseSize(item)">+</button>
  </div>
</div>
